input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



button {
  min-width: 180px;
  padding: 8px 10px;
  font-size: 18px;
  text-transform: capitalize;
  background-color: sandybrown;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: yellow;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: darkcyan;
}

td, th {
  border: 1px solid #dddddd;
}

a {
  color: #61dafb;
}

label {
  font-size: 25px;
}

p {
  margin: 8px;
}

.mt-20 {
  margin-top: 15px;
  color: #fbf861;
}

.mt-blue {
  margin-top: 15px;
  color: #6178fb;
}

.small {
  margin-top: 15px;
  font-size: 16px;
  
}

.medium {
  margin-top: 20px;
  font-size: 18px;
  
}

.ml-20 {
  margin-left: 25px;
}

.center {
  justify-content: center;
}

.flex {
  display: flex;
}

.App {
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.desc {
  color: red;
  font-size: 17px;  
}

.call-btn {
  background-color: red;
  text-transform: uppercase;
  font-weight: 900;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  padding: 50px;  
  min-width: 910px;
}

.dialog-message {
  font-size: 90px;
  padding: 50px;
}

.win {
  color: red;
  background: url(assets/flower.jpg) no-repeat center;
  text-shadow: 1px 1px 2px yellow, 0 0 1em white, 0 0 0.2em yellow;
}

.lose {
  color: blue;
  text-shadow: 1px 1px 2px yellow, 0 0 1em white, 0 0 0.2em yellow;
}

.ReactModal__Overlay {
  background-color: 555 !important;
}
